// Estilos para el formulario de registro
// Formulario de registro
// Contenedor del formulario


.registrar-content {
  display: flex; /* Establece un contenedor flexible */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Asegura que el contenedor ocupe todo el alto de la pantalla */
  background-color: #f8f9fa; /* Fondo claro opcional */
  padding: 16px;
  box-sizing: border-box;
}

.register-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
}



// Campos del formulario
ion-item {
  max-width: 300px;
  width: 100%;
  --min-height: 44px;
  border-radius: 6px;
  margin-bottom: 12px;
  --highlight-color-focused: #3880ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// Inputs personalizados
ion-input {
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 14px;
  --background: #f9f9f900;
  border-radius: 6px;
}

// Mensaje de error
.error-message {
  color: #e74c3c;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

// Encabezado
ion-header {
  --background: linear-gradient(90deg, #3880ff 0%, #3171e3 100%);
  --color: white;
}


