<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bienvenido, Cliente</h1>
  <div class="list-container">
    <!-- Botón para agregar listas -->
    <ion-button expand="block" (click)="addList()">Agregar Lista</ion-button>

    <!-- Mostrar listas -->
    <ion-list>
      <ion-item *ngFor="let list of lists">
        <ion-label>
          <h2>{{ list.name }}</h2>
          <p>{{ list.createdAt?.toDate() | date: 'short' }}</p>
        </ion-label>
        <ion-button color="danger" (click)="deleteList(list.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>