<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="object-container">
    <!-- Botón para agregar objetos -->
    <ion-button expand="block" (click)="addObject()">Agregar Objeto</ion-button>

    <!-- Mostrar lista de objetos -->
    <ion-list>
      <ion-item *ngFor="let object of objects">
        <ion-label>
          <h2>{{ object.name }}</h2>
          <p>{{ object.createdAt?.toDate() | date: 'short' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>