<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="clave" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-button (click)="login(usuario, clave)">Iniciar Sesión</ion-button>

    <ion-text color="danger" *ngIf="loginFailed">
      Usuario o clave incorrectos
    </ion-text>
    <ion-item line="none">
      <ion-text color="medium">
        <a routerLink="/registrar">¿No tienes una cuenta? Registrate aqui</a>
      </ion-text>
    </ion-item>
  </div>
  
</ion-content>
