// Estilos para el formulario de inicio de sesión
// Formulario de login
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin: 0 auto;
  }
  
  // Estilo para los ion-items (inputs)
  ion-item {
    margin-bottom: 16px;
    --highlight-color-focused: #3880ff;
  }
  
  // Estilo para los ion-label
  ion-label {
    color: #333;
    font-weight: 600;
  }
  
  // Estilo de los inputs
  ion-input {
    --border-color: #ccc;
    --background: #fff;
    --padding-start: 12px;
  }
  
  // Estilos para el botón
  ion-button {
    margin-top: 20px;
    --background: #3880ff;
    --border-radius: 8px;
    --color: #fff;
    --height: 48px;
  
    &:hover {
      --background: #3171e3;
    }
  }
  
  // Estilo para el mensaje de error
  div.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  
  // Estilos para el ion-header
  ion-header {
    --background: #3880ff;
    --color: white;
  }
  
  ion-toolbar {
    background-color: #3880ff;
    padding: 10px;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  // Responsividad: Pantallas más pequeñas
  @media (max-width: 600px) {
    .login-form {
      padding: 16px;
    }
  
    ion-button {
      --height: 44px;
    }
  
    ion-title {
      font-size: 18px;
    }
  }